
.housenotepage {
   display: grid;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
   margin: 0;
}

.housenotetop {
   background-color: #2F2F2F;
   text-decoration: none;
   padding: 0px;
}

.housenotepath {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #A0A0A0;
   text-align: left;
}

.housenotetitle {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #A0A0A0;
   text-align: right;
}

.housenotelist {
   background-color: #006400;
   font-family:'Metrophobic', sans-serif;
   font-size: 20px;
   text-decoration: none;
   color: #F0F0F0;
   padding: 0px;
   width: 19%;
   height: 100%;
   float: left;
   overflow: hidden;
}

.housenotecontainer {
   width: 80%;
   float: right;
}

.housenotecontent {
   border: none;
   width: 100%;
   height: 100%;
}

.housenotebuttontop {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   background-color: #2F2F2F;
   border: 0px solid #2F2F2F;
   color: #F0F0F0;
}
.housenotebutton {
   background-color: darkgreen;
   border: 0px solid darkgreen
}

tbody {
   border: 0px;
   padding: 0px;
}

