Source: housenote
Version: 1.2
Section: Web servers
Maintainer: Pascal Martin <pascal.fb.martin@gmail.com>
Priority: optional
Homepage: https://github.com/pascal-fb-martin/housenote
Standard-Version: 4.7.0
Package: housenote
Architecture: {{arch}}
Depends: houseportal,libmarkdown2
Description: A House service to share and browse notes
 HouseNote is part of the House suite of web services.
 .
 HouseNote is a minimal application to stores and shares markdown notes.
 One can browse the notes, rendered in HTML. Notes are submitted through
 HTTP PUT methods.
 .
 HouseNote also supports other file formats, without rendering, as long as
 the format is supported by the web browser (e.g. PDF). These can be submitted
 through the same mechanism.
